<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Titre</title>
</head>
<body>
    <header class="navbar navbar-expand-sm navbar-light bg-white border-bottom container">
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Index","Home")">ACCUEIL</a>
                </li>
            }
            @if (true)
            {
                <li>
                    <a href="@Url.Action("AjouterUtilisateur","Home")">AJOUTER UN UTILISATEUR</a>
                </li>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Connect", "Home")">CONNEXION</a>
                </li>
            }
        </ul>
    </header>
    @RenderBody()
    <footer class="footer border-top">
        <div class="container text-center">
            SHEEESHMOBILE
        </div>
    </footer>
</body>
</html>