<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Titre</title>
</head>
<body>
    <header class="navbar navbar-expand-xl navbar-light border-bottom headerstyle">
        <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">ACCUEIL</a>
                </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="@Url.Action("AjouterUtilisateur", "Home")">AJOUTER UN UTILISATEUR</a>
                </li>
            }
            @if (User.IsInRole("Gérant") | User.IsInRole("Admin"))
            {
                <li>
                    <a href="@Url.Action("Succursale","Gestion")">AJOUTER UNE SUCCURSALE</a>
                </li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Voiture", "Gestion")">AJOUTER UNE VOITURE</a>
                </li>
                <li>
                    <a href="@Url.Action("Disconnect", "Home")">DÉCONNEXION</a>
                </li>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Connect", "Home")">CONNEXION</a>
                </li>
            }
        </ul>
    </header>
    @RenderBody()
    <footer class="footer border-top">
        <div class="container text-center">
            SHEEESHMOBILE
        </div>
    </footer>
</body>
</html>